*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #0f0f0f;
    color:#f0f0f0;
}
#header{
   width:100%;
   height: 100vh;
/*    background-image: url("../projects/images/image.png"); */
   background-image: url("images/image.png");
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}
.container{
    padding:10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.headtitle{
    font-size: 40px;
}
.header-text{
   margin-top:20%;
   font-size: 30px;
}
.header-text p{
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    color:#ff6f61;
}
.header-text h1 span{
    color:#ff004f;
}
/* about */
#about{
    padding:80px 0;
    color:#cccccc;
}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.aboutcol-1{
    flex-basis: 35%;
}
.aboutcol-1 img{
    width: 100%;
    border-radius: 15px;
}
.aboutcol-2{
    flex-basis: 60%;
}
.subtitle{
  font-size:60px;
  font-weight: 600;
  color:#ffffff;
}
p{
    font-size: 20px;
}
.tabtitles{
    display: flex;
    margin:20px 0 40px;
}
.tablinks{
    margin-right: 50px;
    font-size:18px;
    font-weight: 800;
    cursor:pointer;
    position:relative;
}
.tablinks::after{
    content:'';
    width:0;
    height: 3px;
    background: #ff6f61;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition:0.5s;
}
.tablinks.activelink::after{
    width:100%;
    background: #ff6f61;
}
.tabcontents{
    display:none;
}
.tabcontents.activetab{
  display: block; 
}
.tabcontents ul li{
  list-style:none;
  margin:10px 0;
  font-size: 18px;
}
.tabcontents ul li span{
    color:#ffd700;
    font-size: 19px;
}

#services{
    padding: 30px 0;
}
.serviceslist ul li{
    font-size: 25px;
    margin-top:10px;
    color:yellow;
}
.contactdetails p{
    margin-top:30px;
}
.contactdetails p i{
    color:#ff6f61;
    margin-right:15px;
    font-size: 26px;
}
.icons{
    margin-top: 30px;
}
.contactdetails a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color:#cccccc;
    transition: transform 0.5s;
}
.contactdetails a:hover{
    color:#ff6f61;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background-color:#ff004f;
    border-radius: 10px;
    margin-top: 20px;
    padding: 13px;
    font-size: 21px;
    width:30%;
    color:white;
    text-decoration: none;
    text-align: center;
}
.copyright{
    width:100%;
    text-align: center;
    padding:25px 0;
    background-color: #1a1a1a;
    color:#cccccc;
    font-weight: 300;
    margin-top: 20px;
    font-size: 20px;
}



@media only screen and (max-width:700px) {
    .btn.btn2{
        border-radius: 10px;
        margin-top: 20px;
        padding: 13px;
        font-size: 21px;
        width:40%;
        color:white;
    }
    .headtitle{
        font-size: 24px;
    }
    .header-text{
        margin-top: 100%;
        font-size: 20px;
    }
    .header-text h1 {
        font-size: 36px;
    }
    .subtitle {
        font-size: 40px;
    }
    .aboutcol-1, .aboutcol-2{
       flex-basis: 100%; 
    }
    .aboutcol-1{
        margin-bottom:30px ;
    }
    .aboutcol-2 {
        font-size: 14px;
      }
    .tablinks{
        font-size: 20px;
        margin-right:20px;
    }
    .tabcontents ul li {
        font-size: 16px;
    }
    .serviceslist ul li {
        font-size: 20px;
      }
    .contactleft{
        flex-basis:100% ;
    }
    .copyright{
        font-size: 12px;
        padding: 10px;
    }
}
